body{
    display: flex; 
    justify-content: center; 
    align-content: center;
}

#wrapper{
    text-align: center;
    padding: 20px;
    height: 40%;
    width: 40%;
    border: 1px solid;
    background-color: rgb(252, 233, 252);
}

#title{
    margin-bottom: 20px;
}

input{
    width: 100px;
    height: 100px;
}

